:root{
  --grey-main: rgb(100, 100, 100); 
}

*{
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;
  background-color: var(--grey-main);
}

#contain-main{
  height: 100%;
  display: flex;
  flex-direction: column;
}

#title-main{
  background-color: whitesmoke;
  font-family: sans-serif;
  height: 7vh;
  display: flex;
}

#title-main-1{
  margin: auto auto;
}

#table-calc-main{
  width: 100%;
  margin: auto;
  display:flex;
  justify-content:center;
}

#table-calc{
  background-color: azure;
  font-size: 2em;
  border-collapse: collapse;
}

#table-calc button{
}

#table-calc td{
  padding: 15px;
}